.link1 {
	FONT-SIZE: 10.5pt; COLOR: #000000; FONT-FAMILY: "??"; LETTER-SPACING: 1px
}
.link2 {
	FONT-SIZE: 10.5pt; COLOR: #ffffff; FONT-FAMILY: "??"; LETTER-SPACING: 1px
}
.link3 {
	FONT-SIZE: 10.5pt; COLOR: #ffffff; FONT-FAMILY: "??"; LETTER-SPACING: 5px
}
.default {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 13.5pt; FONT-FAMILY: "??"
}
BODY {
	SCROLLBAR-FACE-COLOR: #00254a; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #999999; SCROLLBAR-ARROW-COLOR: #999999; SCROLLBAR-TRACK-COLOR: #000000; SCROLLBAR-DARKSHADOW-COLOR: #999999
}
P {
	FONT-SIZE: 10.5pt; COLOR: #000000; FONT-FAMILY: "??"
}
.p1 {
	FONT-SIZE: 9pt; FONT-FAMILY: "??"
}
.P2 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 12pt
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "??"
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.a1:link {
	FONT-SIZE: 10.5pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a1:visited {
	FONT-SIZE: 10.5pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a1:active {
	FONT-SIZE: 10.5pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a1:hover {
	FONT-SIZE: 10.5pt; COLOR: #ff9900; TEXT-DECORATION: none
}
A.a2:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a2:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a2:active {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a2:hover {
	FONT-SIZE: 9pt; COLOR: #ff9900; TEXT-DECORATION: none
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #999999; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
